.bg_bottom {
    background: linear-gradient(rgb(0, 35, 0), rgb(0, 15, 0), black);
    height: auto;
    width: 100%;
}

.fac_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dummyImg {
    margin: 5vw 0 1vw 0;
    height: 15%;
    width: 15%;
    border-radius: 50%;
}

.dummyImgSingle {
    margin: 0 0 0 0;
    height: 20%;
    width: 20%;
    border-radius: 50%;
}

.dummyImgDouble {
    margin: 0 0 0 0;
    height: 35%;
    width: 35%;
    border-radius: 50%;
}

.dmnCordintor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50vw !important;
    height: auto;
    flex-direction: row;
    color: white;
    margin: 3vw 0 6vw 0;
}

@media screen and (max-width: 1055px) {
    .dummyImg {
        height: 20%;
        width: 20%;
    }
    .dummyImgSingle {
        height: 25%;
        width: 25%;
    }
    .dummyImgDouble {
        height: 40%;
        width: 45%;
    }
    .dmnCordintor {
        width: 70vw !important;
    }
}

@media screen and (max-width: 777px) {
    .dummyImg {
        height: 25%;
        width: 25%;
        margin: 4vh 0 1vh 0;
    }
    .dummyImgSingle {
        height: 30%;
        width: 30%;
    }
    .dummyImgDouble {
        height: 50%;
        width: 50%;
    }
    .dmnCordintor {
        width: 75vw !important;
    }
}

@media screen and (max-width: 650px) {
    .dmnCordintor {
        width: 85vw !important;
        margin: 3vh 0 7vh 0 !important;
    }
}