@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

body {
  color: white;
  background: #082d0b;
  background: -webkit-radial-gradient(center, #082d0b, #010101);
  background: -moz-radial-gradient(center, #082d0b, #010101);
  background: radial-gradient(ellipse at center, #082d0b, #010101);
  height: 100vh;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resetPassword__title {
  font-size: 3em;
  margin: 0 0 0.5em 0;
}

input {
  margin-bottom: 0.8em;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1.5px solid #fff;
  width: 60%;
  font-size: 1em;
  padding: 0.3em;
  color: #fff;
}

.resetPassword__bg {
    position: absolute;
    opacity: 0.15;
    width: 45vw;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    top: 50%;
    transform: translate(0, -50%);
} 

.resetPassword__input > input {
  margin: 0 0 1em 0;
}

.resetPassword__button {
  padding: 0.5em 2em;
  border-radius: 7px;
  background: linear-gradient(to right, green, rgb(17, 39, 7));
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 1em;
}

input::placeholder {
  color: #d9d9d9;
  font-size: 1em;
}


@media (max-width: 700px) {
  .resetPassword__bg {
    width: 60vw;
  }
  body {
    font-size: 0.8em;
  }
}

@media (max-width: 450px) {
  .resetPassword__bg {
    width: 70vw;
  }
  body {
    font-size: 0.7em;
  }
}