/* .container {
    width: 100%;
    height: 90.2vh;
    overflow: hidden;
    position: relative;
  } */

  .feedbackdiv{
    position: relative;
  }

  .container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* position: relative; */
    align-items: center;
  }
  
  
  .feedbackdiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(135deg, rgba(5, 79, 17, 0.99) 9%, rgba(0, 0, 0, 1) 50%, rgb(5, 62, 15) 93%);
    color: white;
  }
  
  .gradientimageright {
  position: relative;
  top: 0rem;
  max-width: 100%;
  height: 100%;
  background-image: url(./feedback-page-images/tfgradient.webp);
  background-repeat: no-repeat;
  z-index: 1;
  max-height: 100vh; 
  background-position: 296% -50%; 
  }
  
  .gradientimageleft {
    position: relative;
    top: 0rem;
    max-width: 100%;
    height: 100%;
    background-image: url(./feedback-page-images/tfgradient.webp);
    background-repeat: no-repeat;
    z-index: 1;
    max-height: 100vh; 
    background-position: -205% -50%; 
  }
  
  .techfestimg {
    position: relative;
    top: 0rem;
    max-width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    width: auto;
    /* width: 1000px; */
    justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
    max-height: 100vh; 
    background-position: 0% 0%; 
    background-image: url(./feedback-page-images/techFEST.webp);
  }
  