/* .container {
    width: 100%;
    height: 90.2vh;
    overflow: hidden;
    position: relative;
  } */

  .container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* position: relative; */
    align-items: center;
  }
  
  
  .feedbackdiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(135deg, rgba(5, 79, 17, 0.99) 9%, rgba(0, 0, 0, 1) 50%, rgb(5, 62, 15) 93%);
    color: white;
  }
  
  .gradientimageright {
    position: relative;
    top: 0rem;
    right: -29%;
    width: 82%;
    height: 100%;
    background-image: url(./feedback-page-images/tfgradient.webp);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  
  .gradientimageleft {
    position: relative;
    top: 0rem;
    left: -28.7%;
    width: 82%;
    height: 100%;
    background-image: url(./feedback-page-images/tfgradient.webp);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  
  /* .techfestimg {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 50%;
    background-image: url(./feedback-page-images/techFEST.webp);
  } */
  